# Common folders
crashdumps/*
players/*
plugins/*
plugin_data/*
resource_packs/
worlds/*


# Config file
/server.properties
/pocketmine.yml
/plugin_list.yml

/banned-ips.txt
/banned-players.txt
/ops.txt
/white-list.txt


# Log file
/server.log
PocketMine-MP.phar
desktop.ini
/server.lock
